body{
	margin: 0;
	padding: 0;
}

.main-logo{
	padding: 20px;
    border: 1px solid #F4F4F4;
    display: inline-block;
    border-radius: 15px;
    color: #F4F4F4;
    font-weight: normal;
}

.main-do .h1-do{
	font-size: 42px;
}

.main-do .p-do{
    font-size: 28px;
    width: 100%;
    color: #F4F4F4;
    padding: 30px 150px;
    box-sizing: border-box;
}

.main-do .button-do{
	font-size: 18px;
	font-weight: normal;
}

.main-do .version{
	text-transform: uppercase;
	font-size: 12px;
	color: #A8A7A7;
}

.section-do{
	text-align: center;
	
}

.section-do .h1-do{
	font-family: 'Montserrat', sans-serif; 
}

.col-do-2 img{
    width: 60%;
    height: 200px;
    margin: 30px;
}

.section-do-white{
	background: #fff;
}

.col-do-3{
	text-align: center;
}

.col-do-3 img{
	width: 50px;
	display: block;
	margin: 30px auto;
}

.footer-do{
	text-align: center;
}

.footer-do a{
	color: #fff;
	font-size: 18px;
	padding: 0 5px;
	display: inline-block;
}

.main-do{
	animation-name: bg;
	animation-iteration-count:infinite;
	animation-duration: 20s;
}

@keyframes bg {
    20% {background: #8062F3;}
    40% {background: #08AEF1;}
    60% {background: #2B2B2B;}
    80% {background: #E94500;}
}

